extends ../layouts/main

block content
  div.project-detail-container
    h1= project.title
    div.project-detail-content
      div.project-detail-image
        img(src=project.screenshot, alt=`${project.title} Screenshot`)
      div.tech-stack
        h2 Tech Stack
        ul
          each tech in project.tech
            li= tech
      div.project-description
        h2 Description
        p= project.description
    a.back-btn.btn(href="/projects") &larr; Back to Projects
    a.edit-btn.btn(href=`/projects/${project.id}/edit`) Edit Project
    a.delete-btn.btn(href=`/projects/${project.id}/delete`) Delete Project