extends ../layouts/main

block content 
  div.edit-project-container
    h1 Edit Project
    form.edit-project-form(method="post", action=`/projects/${project.id}/edit`)
      label
        input(type="text" name="title" placeholder="Project Title" value=project.title required)
      label
        input(type="text" name="summary" placeholder="Project Summary" value=project.summary required)
      label Tech Stack
        each tech in project.tech
          div
            input(type='text', name='tech', value=tech required)
            button(type='button' class='remove-tech') Remove
        button(type='button' class='add-tech') Add Technology
      label
        input(type="text" name="description" placeholder="Project Description" value=project.description required)
      label
        input(type="text" name="screenshot" placeholder="Screenshot URL" value=project.screenshot required)
      div.actions
        button.update-btn.btn(type="submit") Update Project
        a.cancel-btn.btn(href=`/projects/${project.id}`) Cancel
    
    if errors
      div.error
        ul
          each error in errors
            li= error