extends ../layouts/main

block content
  h1= title

  a.create-btn.btn(href="/projects/create") Add New Project

  if searchQuery
    a.back-btn.btn(href="/projects") &larr; Back to Projects

  div.search-container
    form(action="/projects/search", method="GET")
      input.search-bar(
        type="text", 
        placeholder="Search Projects", 
        value=searchQuery || "",
        id="searchInput",
        name="query"
      )
      button.search-btn.btn(type="submit") Search

  div#project-list
    each project in projects
      div.project-card(onclick=`window.location.href='/projects/${project.id}'`)
        div.project-header
          h2= project.title
          p= project.summary
        div.project-body
          ul
            each tech in project.tech
              li= tech
          div.image-container
            img(src=project.screenshot, alt=`${project.title} Screenshot`)
        div.profile-btns
          a.view-btn.btn(href=`/projects/${project.id}`) View Details
          a.edit-btn.btn(href=`/projects/${project.id}/edit`) Edit
          a.delete-btn.btn(href=`/projects/${project.id}/delete`) Delete